#pragma once
#include "Core/Reflection/Reflection.h"
#include "_Generated/Serializer/AllSerializer.h"
{{#include_headfiles}}
#include "{{headfile_name}}"
{{/include_headfiles}}


void LittleEngine::Reflection::TypeMetaRegister::MetaRegister(){
    {{#sourefile_names}}LittleEngine::Reflection::TypeWrappersRegister::{{sourefile_name_upper_camel_case}}();
    {{/sourefile_names}}
    
    {{#sourefile_names}}LittleEngine::Reflection::TypeWrappersRegister::{{sourefile_name_upper_camel_case}}_RegitserMetaType();
    {{/sourefile_names}}
    
}