#pragma once
#include "Core/Reflection/Reflection.h"
#include "_Generated/Serializer/AllSerializer.h"
{{#include_headfiles}}
#include "{{headfile_name}}"
{{/include_headfiles}}

namespace OvCore::ECS::Components{
namespace Reflection{
    void TypeMetaRegister::MetaRegister(){
        {{#sourefile_names}}TypeWrappersRegister::{{sourefile_name_upper_camel_case}}();
        {{/sourefile_names}}
    }
}
}