#pragma once
{{#include_headfiles}}
#include "{{headfile_name}}"
{{/include_headfiles}}

namespace LittleEngine{
{{#class_defines}}
    {{^class_is_enum}}
        template<>
        Json JsonSerializer::Write(const {{class_full_name}}& instance);
        template<>
        {{class_full_name}}& JsonSerializer::Read(const Json& jsonContext, {{class_full_name}}& instance);
    {{/class_is_enum}}
{{/class_defines}}
}
