#pragma once
{{#include_headfiles}}
#include "{{headfile_name}}"
{{/include_headfiles}}

namespace LittleEngine{
    {{#class_defines}}template<>
    Json JsonSerializer::Write(const {{class_name}}& instance);
    template<>
    {{class_name}}& JsonSerializer::Read(const Json& json_context, {{class_name}}& instance);
    {{/class_defines}}
}//namespace
