#pragma once
{{#include_headfiles}}
#include "{{headfile_name}}"
{{/include_headfiles}}

namespace OvCore{
    using namespace OvCore::ECS::Components;
    {{#class_defines}}template<>
    Json OvCore::JsonSerializer::Write(const {{class_name}}& instance);
    template<>
    {{class_name}}& OvCore::JsonSerializer::Read(const Json& json_context, {{class_name}}& instance);
    {{/class_defines}}
}//namespace
